body{
    margin: 0;
    font-family: sans-serif;
    text-align: center;
}

.board{
    border: 2px solid darkgray;
    width: 500px;
    height: 500px;
    margin: auto;
    margin-top: 150px;
}

.cell{
    border: 1px solid black;
    width: 20px;
    height: 20px;
    
}