body{
    margin: 0;
    font-family: sans-serif;
    text-align: center;
}

.board{
    border: 4px solid darkgray;
    width: 500px;
    height: 500px;
    margin: auto;
}

.cell{
    border: 4px solid gray;
    width: 20px;
    height: 20px;
   content-visibility:hidden;

}